@model IndexPageModel
@{
    ViewData["Title"] = "Hoşgeldiniz";
}

<div class="row container-fluid" style="margin-top:100px">
    <partial name="_AnnouncementDisplay" model="Model.Announcements"></partial>
    <partial name="_OpenedGraduateProgramsDisplay" model="Model.GraduatePrograms"></partial>
</div>

<h5>@ViewData["Test"]</h5>
