@model ApplicantLandingPageModel

<div class="offcanvas offcanvas-start" style="width:min-content;background-color:#476662" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <partial name="_UserInformationCardDisplay" model="Model.ApplicantInformationsModel.UserIdentityInformationDTO"></partial>
</div>
<div class="row bg-white m-0">
    <div class="col-md-2 d-none d-xl-block min-vh-100 p-0 position-relative">
        <partial name="_UserInformationCardDisplay" model="Model.ApplicantInformationsModel.UserIdentityInformationDTO"></partial>
    </div>
    <div class="col-md-12 col-xl-10 d-sm-block" style="margin-top:50px">
        <div class="container">
            <div class="text-end me-4">

                <button class="btn btn-primary d-xl-none mb-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <i class="bi bi-person-vcard"></i> Bilgilerim</button>
            </div>
            <partial name="_AnnouncementDisplay" model="Model.IndexPageModel.Announcements"></partial>
            <div class="col-md-12 col-xl-12 d-sm-block">
                <partial name="_OpenedGraduateProgramsDisplay" model="Model.IndexPageModel.GraduatePrograms"></partial>
            </div>
        </div>
    </div>
    
</div>

