<!-- Footer -->
@*<div class="container-fluid text-center text-md-start">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-6">
            <div class="row">
                <div class="col-md-8">

                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/%C3%87ukurova_University_logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                        ÇUKUROVA ÜNİVERSİTESİ
                    </h6>
                    <p>
                        <strong>Balcalı Kampüsü:</strong>
                        <br />
                        Çukurova Üniversitesi Rektörlüğü 01250,
                        Sarıçam / Adana, TÜRKİYE
                    </p>

                </div>
                <div class="col-md-4">
                    <!--Helpful Links-->


                    <h6 class="text-uppercase fw-bold">
                        Faydalı Bağlantılar
                    </h6>
                    <div class="btn-group dropend">
                        <button type="button" class="btn dropdown-toggle text-secondary" data-bs-toggle="dropdown">
                            Fakülteler
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-secondary" href="https://ziraat.cu.edu.tr/">Ziraat Fakültesi</a></li>
                            <li><a class="dropdown-item text-secondary" href="https://tip.cu.edu.tr/">Tıp Fakültesi</a></li>
                            <li><a class="dropdown-item text-secondary" href="https://fen.cu.edu.tr/">Fen Edebiyat Fakültesi</a></li>
                            <li><a class="dropdown-item text-secondary" href="https://muhendislik.cu.edu.tr/">Mühendislik Fakültesi</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-secondary" href="https://www.cu.edu.tr/academy/fakulteler/">Tüm Fakültelerin Listesi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn dropdown-toggle text-secondary" data-bs-toggle="dropdown">
                            Enstitüler
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-secondary" href="https://fbe.cu.edu.tr/">Fen Bilimleri Enstitüsü</a></li>
                            <li><a class="dropdown-item  text-secondary" href="https://sosyalbilimler.cu.edu.t/">Sosyal Bilimler Enstitüsü</a></li>
                            <li><a class="dropdown-item  text-secondary" href="https://sbe.cu.edu.tr/">Sağlık Bilimleri Enstitüsü</a></li>
                            <li><a class="dropdown-item  text-secondary" href="https://babe.cu.edu.tr/">Bağımlılık ve Adli Bilimler Enstitüsü</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <!--Contact-->
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <div class="row justify-content-between">
                <div class="col-md-12 col-lg-6">
                    <p>
                        <strong>KEP Adresi:</strong>
                        <br />
                        <small>cukurovauniversitesi@hs01.kep.tr</small>
                    </p>
                    <p>
                        <strong>E-posta:</strong>
                        <br />

                        <small>bilgi@cu.edu.tr</small>
                    </p>

                </div>
                <div class="col-md-12 col-lg-6">

                    <p>
                        <strong>Telefon:</strong>
                        <br />
                        <small>+90 322 338 60 84</small>
                    </p>
                    <p>
                        <strong>Faks:</strong>
                        <br />
                        <small>+90 322 338 69 45</small>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>*@
<div class="container text-dark">
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-4"><i class="bi bi-geo-alt-fill"></i><strong>Akdemir Kampüsü:</strong>Akdemir Üniversitesi Rektörlüğü Mithatpaşa Mah. Seyhan / Adana, TÜRKİYE</div>
                <div class="col-4 text-center"><i class="bi bi-telephone-fill"></i>+90 322 000 00 00</div>
                <div class="col-4 text-end"><i class="bi bi-envelope-at-fill"></i>bilgi@akd.edu.tr </div>
            </div>
        </div>
        <div class="col-12 text-center">&copy; 2023 - GraduateApp.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
    </div>
</div>
<!-- Footer -->