<div class="card min-vh-100 border border-bottom-0" style="width:fit-content;background-color:#476662">
    <img src="https://xsgames.co/randomusers/assets/avatars/male/78.jpg" class="card-img-top" alt="profile picture">
    <div class="card-body">
        <table class="table text-light ">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Ali</td>
                </tr>
                <tr>
                    <td>Soyadı</td>
                    <td>Akdemir</td>
                </tr>
                <tr>
                    <td>TC</td>
                    <td>321312312312</td>
                </tr>
                <tr>
                    <td>Doğum Yılı</td>
                    <td>1992</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>