@model UserContactInformationDTO
<div class="container mb-5">
    <div class="rounded d-flex justify-content-center">
        <div class="col-8 shadow-lg bg-white rounded rounded-3">
            <div class="text-center">
                <h3 class="text-success mt-2">İletişim Bilgilerim</h3>
                <div class="p-2">
                    <form asp-action="UpdateContactInfo" asp-controller="Applicant">
                        <div class="p-3 py-5">
                            <div class="row  text-start mt-2">
                                <div class="col-md-6 mb-2">
                                    <label class="labels  bi bi-envelope-at-fill mb-2">E-Posta Adresi</label>
                                    <input type="text" class="form-control " placeholder="E-Posta Adresi" asp-for="Email" value="@Model.Email">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label class="labels bi bi-telephone-fill mb-2">Telefon Numarası</label>
                                    <input type="text" class="form-control" value="@Model.PhoneNumber" asp-for="PhoneNumber" placeholder="Telefon Numarası">
                                </div>
                                <div class="col-md-12 mb-2">
                                    <label class="labels bi bi-geo-alt-fill mb-2">Adres</label>
                                    <textarea class="form-control" value="@Model.Address" asp-for="Address" placeholder="Adres"></textarea>
                                </div>
                            </div>
                            <div class="mt-5 text-center">
                                <button class="btn btn-success profile-button justify-content-end" type="submit">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




