@model AdminInformationsModel


<div class="container rounded rounded-4 shadow-lg border border-1 p-2 bg-white" style="margin-top:50px">
    <h3 class="text-center text-success fw-bold mt-4">BİLGİLERİM</h3>
    <ul class="nav nav-tabs m-5 justify-content-center border-success" id="ex-with-icons" role="tablist">
        <li class="nav-item border-success" role="presentation">
            <a class="nav-link active" id="ex-with-icons-tab-1" data-bs-toggle="tab" href="#ex-with-icons-tabs-1" role="tab"
               aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="bi bi-person-vcard-fill m-2"></i>Kimlik Bilgilerim</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex-with-icons-tab-2" data-bs-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
               aria-controls="ex-with-icons-tabs-2" aria-selected="true"><i class="bi bi-telephone-forward-fill m-2"></i>İletişim Bilgilerim</a>
        </li>
    </ul>

    <div class="tab-content" id="ex-with-icons-content">
        <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">
            <partial name="_UserIdentityInformationsDisplay" model="Model.UserIdentityInformationDTO"></partial>
        </div>
        <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
            <partial name="_UserContactInformationsDisplay" model="Model.UserContactInformationDTO"></partial>
        </div>
    </div>
</div>


